; Locator
@uipath:registry=https://uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/

; Auth
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:username=npm-packages
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:_password=ZWxnbTdidXdzcWtzNXp4MmN3YzNmaGx0M2l1ZTdjY2xucml6ejRuaGYyNTd6YXkzanFpcQ==
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:username=npm-packages
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:_password=ZWxnbTdidXdzcWtzNXp4MmN3YzNmaGx0M2l1ZTdjY2xucml6ejRuaGYyNTd6YXkzanFpcQ==
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:email=npm requires email to be set but doesn't use the value
