{
    "include": [
        "src/**/*.ts"
    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "exclude": [
        "**/*.spec.ts",
        "**/*.d.ts",
        "**/index.ts",
        "**/test/**/*",
        "**/testing/**/*"
    ],
    "reporter": [
        "html",
        "lcov",
        "json",
        "cobertura",
        "text"
    ],
    "report-dir": "./coverage/node",
    "cache": true,
    "all": true
}
