@uipath:registry=https://uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/12/2019.
; begin auth token
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:username=npm-packages
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:_password=ZWxnbTdidXdzcWtzNXp4MmN3YzNmaGx0M2l1ZTdjY2xucml6ejRuaGYyNTd6YXkzanFpcQ==
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:username=npm-packages
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:_password=ZWxnbTdidXdzcWtzNXp4MmN3YzNmaGx0M2l1ZTdjY2xucml6ejRuaGYyNTd6YXkzanFpcQ==
//uipath.pkgs.visualstudio.com/_packaging/npm-packages/npm/:email=npm requires email to be set but doesn't use the value
